<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <div class="logo">
          {{ metadata.title}}
        </div>

        <h4>
          {{ metadata.tagline }}
        </h4>

        <div class="mt-3">
          Follow us on Twitter! <strong><a href="https://twitter.com/{{ metadata.twitter }}">@{{ metadata.twitter }}</strong></a>
        </div>

        <div class="mt-6 is-size-7">
          Website content licensed <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
        </div>

      </div>
      {% comment %}
      <div class="column is-4">
        <h4>
          Other <strong>Resources</strong>
        </h4>

        <div class="mt-5">
          <a href="https://wikipedia.org">Wikipedia</a><br/>
          <a href="https://archive.org/web/">Wayback Machine</a>
        </div>
      </div>
      {% endcomment %}
      <div class="column is-4">
      </div>
      <div class="column is-3">
        <h4>
          <strong>Share</strong> on Social Media
        </h4>

        <div class="mt-5">
          <a href="https://twitter.com/intent/tweet?url={{ url | uri_escape }}&via={{ metadata.twitter }}&text=Will%20you%20join%20me%20on%20June%209%20at%20EMEA%20on%20Rails%3F&hashtags=Ruby%2CRails" target="_blank">
            <button class="button is-info">
              <span class="icon"> <i class="fa fa-twitter is-size-5"></i> </span>
              <span class="has-text-weight-bold">Tweet</span>
            </button>
          </a>
        </div>

        {% comment %}
        <div class="mt-6">
          <a href="/feed.xml" class="button is-danger is-small">
            <span class="icon"> <i class="fa fa-rss"></i> </span>
            <span class="has-text-weight-bold">News Feed</span>
          </a>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</footer>
