<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if page_title != "" %}{{ page_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

<meta name="description" content="{{ metadata.description }}" />
<meta property="og:title"              content="{{ page.title | default: "EMEA on Rails" }}" />
<meta property="og:description"        content="{{ metadata.description }}" />
<meta property="og:image"              content="https://res.cloudinary.com/caplan/image/upload/e_blur:10,w_3000,h_3000/e_make_transparent:40,f_auto,q_auto/v1619715827/emea-on-rails-2021/logo.png" />

<link rel="stylesheet" href="{% webpack_path css %}" />
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cerulean/bulmaswatch.min.css" />
<script src="{% webpack_path js %}" defer></script>
