<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if page_title != "" %}{{ page_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

<meta name="description" content="{{ metadata.description }}" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{ "EMEA on Rails" }}{% if title %} - {{ title }}{% endif %}" />
<meta property="og:description"        content="{{ metadata.description }}" />
<meta property="og:image"              content="https://res.cloudinary.com/caplan/image/upload/w_1200,h_850,c_thumb,f_auto,q_auto/v1619715827/emea-on-rails-2021/logo.png" />
<meta property="og:image:alt"          content="EMEA on Rails logo" />

<link rel="stylesheet" href="{% webpack_path css %}" />
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cerulean/bulmaswatch.min.css" />
<script src="{% webpack_path js %}" defer></script>
