{% assign speakers = speakers | where: 'time', time | sort: "name" | reverse %}
<tr>
  <th>15:05 UTC <span class="hidden zoned-time" data-time="2021-06-09T15:05:00Z"></span></th>
  {% for speaker in speakers %}
    {% assign speaker-slug = speaker.name | downcase | replace: ' ', '-' %}
    <td id="td-{{ speaker-slug }}" class="speaker-schedule-listing" data-speaker-slug="{{ speaker-slug }}">
      <a href="#td={{ speaker-slug }}">
        <strong>{{ speaker.name }}</strong>
        <br/>
        <em>{{ speaker.title }}</em>
      </a>
    </td>
  {% endfor %}
  {% if speakers.size == 2 %}
    <td>TBA</td>
    <td>TBA</td>
  {% endif %}
</tr>
